<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @cost_structure.name %>
</p>

<%= link_to 'Edit', edit_cost_structure_path(@cost_structure) %> |
<%= link_to 'Back', cost_structures_path %>
